.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
	height: 150px;
}
.half {
	height: 75px;
}
.third {
	height: 50px;
}
.lblue {
	background-color: #356AA0;
}
.magenta {
	background-color: #A03579;
}
.navyb {
	background-color: #2B1752;
}
.yellow {
	background-color: #C9F30B;
}
.green {
	background-color: #57A035;
}
.blue {
	background-color: #1732B5;
}
.seag {
	background-color: #185351;
}
.teal {
	background-color: #078675;
}
.red {
	background-color: #BF1515;
}
.dgreen {
	background-color: #8EB618;
}
.pink {
	background-color: #EA2FD6;
}
.green1 {
	background-color: #419207;
}
.green2 {
	background-color: #558608;
}
.black {
	background-color: #0B1401;
}
.fadedb {
	background-color: #076392;
}
.lgreen {
	background-color: #19B64D;
}
.lightb {
	background-color: #1283BD;
}