.container {
	color: white;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-12 {
	height: 50px;
}
.col-md-1 {
	background-color: wheat;
}
.col-md-2 {
	background-color: blue;
}
.col-md-3 {
	background-color: green;
}
.col-md-4 {
	background-color: yellow;
}
.col-md-6 {
	background-color: red;
}
.col-md-12 {
	background-color: orange;
}