.container{
	width: 1170px;
	height: auto;
	margin: 0 auto;
}
.container .row1{
	width: 1170px;
	height: 300px;
}
.container .row1 .col1{
	width: 585px;
	height: 300px;
	background-color: #356AA0;
	float: left;
}
.container .row1 .col2{
	width: 585px;
	height: 300px;
	background-color: #17334F;
	float: left;
}.container .row2{
	width: 1170px;
	height: 300px;
	float: left;
}
.container .row2 .col1{
	width: 585px;
	height: 300px;
	background-color: #000000;
	float: left;
}
.container .row2 .col2{
	width: 585px;
	height: 300px;
	background-color: #B4D400;
	float: left;
}
